h1 {
    color: #888888;
    font-size: 3.0em;
    text-align: center;
    width: 60%;
    border: 1px solid #f00;
}

img {
    width: 60px;
    border: 1px;
    padding: 2px;
    margin: 3px;
    border-radius: 5px;
}
